<div class="card mb-2">
  <img class="card-img-top" src="../../../assets/images/film.png" alt="">
  <div class="card-body">
    <h5 class="card-title">{{video?.Title}}</h5>
    <p class="card-text">{{video?.Rating}}</p>
    <!-- <div class="thumbnail__details">
      <p>{{video?.Title}}</p>
      <p>{{video?.Rating}}</p>
    </div> -->
    <!-- <div class="thumbnail__controls">
      <i class="fas fa-stop"></i>
      <i class="fas fa-play"></i>
      <i class="fas fa-wrench"></i>
    </div> -->
    <ul class="list-inline text-center">
      <li class="list-inline-item">
        <button class="btn btn-primary"><i class="fas fa-stop"></i></button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-primary"><i class="fas fa-play"></i></button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-primary"><i class="fas fa-wrench"></i></button>
      </li>
    </ul>
  </div>
</div>
