.nav__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 2rem 3rem;
  background-color: var(--component-background);
}

.nav__list{
  display: flex;
  align-items: center;
}

.list--primary{
  background-color: var(--component-background);
  margin: 0;
}

.list__item{
  color: #ccc;
  margin-right: 2rem;
  cursor: pointer;
}

.list__item-main{
  font-size: 2rem;
}

.dropdown{
  cursor: pointer;
}
