<div class="container">
  <h2>Upload Video</h2>
  <form #uploadVideoFord="ngForm" (ngSubmit)="onVideoSubmit()">
    <input class="form-control" type="text" [(ngModel)]="coverImg" placeholder="Cover Image URL" name="coverImg" />
    <input class="form-control" type="text" [(ngModel)]="title" placeholder="Title" name="title" required />
    <input class="form-control" type="file" (change)="onFileSelected($event)" name="file" accept="video/mp4" required />
    <button class="btn btn-primary" type="submit">Upload</button>
  </form>
</div>
